@model IEnumerable<UserData>

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/plotly.js"></script>
</head>
<body>
    <header>
        <h1>Entered data</h1>
    </header>
    <main>
        <div class="wrapper">
            <h2>Your data</h2>
            <div class="container">
                <div class="box1">
                    <table class="table">
                        <tr><td><strong>A</strong></td><td><strong>B</strong></td><td><strong>C</strong></td></tr>
                        @foreach (var item in Model)
                        {
                            <tr><td>@item.A</td><td>@item.B</td><td>@item.C</td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>


